<!DOCTYPE html>
<html>
<head>
    <title>Makeat Kakao Chatbot</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>User List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>User ID</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Goal Weight</th>
            <th>BMR</th>
            <th>Created Date</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.user_id }}</td>
            <td>{{ user.birth_date }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.height }}</td>
            <td>{{ user.weight }}</td>
            <td>{{ user.goal_weight }}</td>
            <td>{{ user.bmr }}</td>
            <td>{{ user.created_date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
